<nav class="navbar navbar-expand-md navbar-light bg-transparent py-3 py-md-7 border-bottom border-primary border-2">
  <div class="container">
    <a class="navbar-brand me-5" href="index.html">
      <img src="/assets/images/logo.png" alt="logo" />
    </a>
    <h1 class="fs-3 d-none d-md-block"><a href="index.html">7TAO<span class="fs-7 ms-1 align-middle lh-1 me-11">活動訂票網</span></a></h1>
    <form class="d-flex nav-form">
      <input
        class="form-control border border-2 border-primary py-2 ps-3 py-md-5 ps-md-7 lh-1"
        type="search"
        placeholder="探索活動"
        aria-label="Search"
      />
      <button class="btn btn-primary p-3 p-md-5" type="submit">
        <div class="icon-holder">
          <div class="icon text-secondary lh-1">
            <i class="icofont-search-1"></i>
          </div>
        </div>
      </button>
    </form>
    <button class="navbar-toggler border border-primary rounded-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-md-auto" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-md-0 pt-2 pt-md-0 fs-6 flex-row">
        <li class="nav-item">
          <a class="text-primary" aria-current="page" href="#">
            <div class="icon-holder">
              <div class="icon"> 
                <i class="icofont-ui-file"></i>
                <span>REGISTER</span>
            </div>
          </a>
        </li>
        <li class="nav-item ms-7">
          <a class="text-primary" aria-current="page" href="#">
            <div class="icon-holder">
              <div class="icon"> 
                <i class="icofont-ui-user"></i>
                <span>LOGIN</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
